h1{
    text-align: center;
    margin:auto;

}

.row.productRow{
    margin-left:5%;
    margin-top:5%;
}

.price{
    visibility: hidden;
}

#test{
    background:url(/public/images/a.png) no-repeat;
}
 
img{
    margin-right:40px;
}